.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.not-found__code {
  font-weight: 400;
  font-size: 140px;
  line-height: 1.20;
  text-align: center;
  margin: 0 0 5px;
}

.not-found__description {
  font-size: 16px;
  line-height: 1.19;
  margin: 0 0 184px;
}

.not-found__back {
  font-size: 14px;
  line-height: 1.21;
  color: #4285F4;
  text-decoration: none;
  background: none;
  box-sizing: border-box;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: .2s;
}

.not-found__back:hover {
  opacity: 0.7;
}

@media (max-width: 480px) {
  .not-found__code {
    font-size: 80px;
    line-height: 1.21;
    margin: 0 0 10px;
  }
  .not-found__description {
    font-size: 12px;
    line-height: 1.25;
    margin: 0 0 284;
  }
  .not-found__back {
    font-size: 12px;
    line-height: 1.25;
  }
}