.app {
  color: white;
  background-color: #202020;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}