.app {
  color: white;
  background-color: #202020;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.app_centered {
  justify-content: center;
}