/* @import url(./vendor/normalize.css); */

@import url(./vendor/fonts/inter/inter.css);
html, body {
  margin: 0;
  padding: 0;
}

.focused-text {
  outline: none;
}

.focused-text:focus-visible {
  text-decoration: underline;
}

.focused-box {
  outline: none;
}

.focused-box:focus-visible {
  box-shadow: 0 0 1px 3px rgba(255, 255, 255, 1);
} 